<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gavin_Fahey_C969_PA.Properties.Settings.U06kHJConnectionString"
            connectionString="server=3.227.166.251;user id=U06kHJ;database=U06kHJ;password=53688792604;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>